@CHARSET "UTF-8";

#footer {
	height: 100px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	background: #e5e5e5;
}

#footercontent {
	width: 970px;
	height: 114px;
	margin: 0 auto;
	background: url("img/footer_bg.jpg") no-repeat 0 34px;
}

#footerlogos {
	width: 398px;
	height: 40px;
	float: right;
	padding-left: 20px;
}

#footerlogos li {
	float: left;
	width: auto;
	list-style: none;
}

#footerlogos .footerlogosecond {
	margin: 0 7px;
}

#footerlogos .footerlogothird {
	margin-left: 4px;
}